<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Form Order</title>
<!-- base:css -->
<link rel="stylesheet" href="../_admin/vendors/typicons/typicons.css">
<link rel="stylesheet"
	href="../_admin/vendors/css/vendor.bundle.base.css">
<!-- endinject -->
<!-- plugin css for this page -->
<link rel="stylesheet" href="../_admin/vendors/select2/select2.min.css">
<link rel="stylesheet"
	href="../_admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
<!-- End plugin css for this page -->
<!-- inject:css -->

<link rel="stylesheet"
	href="../_admin/css/vertical-layout-light/style.css">
<!-- endinject -->
<link rel="shortcut icon" href="../_admin/images/favicon.png" />
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<link rel="stylesheet" href="../assets/css/fontawesome.min.css" />

<!-- Toast css -->
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

</head>
<body ng-app="myApp" ng-controller="adminOrder">
	<div class="container-scroller">
		<nav th:replace="~{fragment/_adminHeader.html::adminHeader}"></nav>
		<!-- partial -->
		<div th:replace="~{fragment/_adminPartial.html::partial}"></div>
		<!-- partial -->
		<nav th:replace="~{fragment/_adminAside.html::adminAside}"></nav>
		<!-- partial:../_admin/partials/_sidebar.html -->

		<!-- Toast -->
		<ul th:insert="~{fragment/_toast}"></ul>

		<div class="main-panel">
			<div class="content-wrapper">
				<div class="row">
					<div class="col-12 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Quản lý đơn hàng</h4>
								<ul class="nav nav-tabs" id="pills-tab" role="tablist">
									<li class="nav-item"><a class="nav-link active"
										ng-click="getOrder(0)" id="pills-home-tab" data-toggle="pill"
										href="#" role="tab" aria-controls="order1"
										aria-selected="true">Chờ xử lý ({{orderCounts.pending}})</a></li>
									<li class="nav-item"><a class="nav-link"
										ng-click="getOrder(1)" id="pills-contact-tab"
										data-toggle="pill" href="#" role="tab" aria-controls="order2"
										aria-selected="false">Đã xác nhận
											({{orderCounts.confirmed}})</a></li>
									<li class="nav-item"><a class="nav-link"
										ng-click="getOrder(2)" id="pills-contact-tab"
										data-toggle="pill" href="#" role="tab" aria-controls="order3"
										aria-selected="false">Sẵn sàng để lấy
											({{orderCounts.readyForPickup}})</a></li>
									<li class="nav-item"><a class="nav-link"
										ng-click="getOrder(3)" id="pills-contact-tab"
										data-toggle="pill" href="#" role="tab" aria-controls="order3"
										aria-selected="false">Đã nhận hàng
											({{orderCounts.received}})</a></li>
									<li class="nav-item"><a class="nav-link"
										ng-click="getOrder(4)" id="pills-contact-tab"
										data-toggle="pill" href="#" role="tab" aria-controls="order3"
										aria-selected="false">Đã hủy ({{orderCounts.canceled}})</a></li>
								</ul>

								<!--TAS_CONTENT-->
								<div class="tab-content" id="pills-tabContent">
									<!--Wait for confirmation-->
									<div class="tab-pane fade show active"
										aria-labelledby="pills-home-tab">
										<!--TABLE-->

										<div class="form-group">
											<div class="input-group">
												<input type="text" class="form-control mt-5"
													placeholder="Recipient's username"
													aria-label="Recipient's username">
												<div class="input-group-append">
													<button class="btn btn-sm btn-primary mt-5" type="button">Search</button>
												</div>
											</div>
										</div>
										<div class="table-responsive">
											<table class="table table-sm">
												<thead>
													<tr>
														<th>Mã đơn hàng</th>
														<th>Khách hàng</th>
														<th>Số điện thoại</th>
														<th>Ngày đặt</th>
														<th>Ngày lấy</th>
														<th>Hình thức thanh toán</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="order in listOrder">
														<td>{{order.id}}</td>
														<td>{{order.customer.fullName}}</td>
														<td>{{order.customer.phoneNumber}}</td>
														<td>{{order.orderDate | date: "dd/MM/yyyy, HH:mm"}}</td>
														<td>{{order.pickUpDate | date: "dd/MM/yyyy, HH:mm"}}</td>
														<td ng-show="order.methodPayment==0"><label
															class="badge badge-success">CK</label></td>
														<td ng-show="order.methodPayment==1"><label
															class="badge badge-info">COD</label></td>
														<td>
															<button title="Chi tiết đơn hàng"
																ng-mouseover="showTooltip()"
																ng-click="getOrderDetails(order.id)" type="button"
																data-toggle="modal" data-target="#cart"
																class="btn btn-inverse-info btn-rounded btn-icon">
																<i class="fa fa-clipboard-list"></i>
															</button> <!-- Xác nhận đơn hàng -->
															<button ng-click="confirmOrder(order.id)"
																ng-show="order.status.statusId==0"
																title="Xác nhận đơn hàng" ng-mouseover="showTooltip()"
																type="button"
																class="btn btn-inverse-success btn-rounded btn-icon">
																<i class="fa fa-check-circle"></i>
															</button> <!-- Hoàn tất chuẩn bị -->
															<button ng-click="preparedOrder(order.id)"
																ng-show="order.status.statusId==1"
																title="Chuẩn bị hoàn tất" ng-mouseover="showTooltip()"
																type="button"
																class="btn btn-inverse-success btn-rounded btn-icon">
																<i class="fa fa-check-circle"></i>
															</button> <!-- Hoàn tất đơn hàng -->
															<button ng-click="finishOrder(order.id)"
																ng-show="order.status.statusId==2" title="Đã nhận hàng"
																ng-mouseover="showTooltip()" type="button"
																class="btn btn-inverse-success btn-rounded btn-icon">
																<i class="fa fa-check-circle"></i>
															</button> <!-- Hủy đơn-->
															<button data-toggle="modal" data-target="#noteStatus"
																ng-click="getOrderDetails(order.id)"
																ng-show="order.status.statusId!=3&&order.status.statusId!=4"
																title="Hủy đơn hàng" ng-mouseover="showTooltip()"
																type="button"
																class="btn btn-inverse-danger btn-rounded btn-icon">
																<i class="fa fa-times-circle"></i>
															</button>

														</td>
													</tr>

												</tbody>
											</table>
										</div>
										<nav aria-label="Page navigation example">
											<ul class="pagination  justify-content-center">
												<li class="page-item"><a class="page-link" href="#"
													aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
												</a></li>
												<li class="page-item"><a class="page-link" href="#">1</a></li>
												<li class="page-item"><a class="page-link" href="#">2</a></li>
												<li class="page-item"><a class="page-link" href="#">3</a></li>
												<li class="page-item"><a class="page-link" href="#"
													aria-label="Next"> <span aria-hidden="true">&raquo;</span>
												</a></li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- main-panel ends -->

		<!-- Modal -->
		<div class="modal fade" id="cart" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-xl  w-50 modal-dialog-centered"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Chi tiết</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<table class="table-striped col-12">
							<tr ng:repeat="stt in listStatus">
								<td>{{stt.changeDate | date: "dd/MM/yyyy, HH:mm"}}</td>
								<td>{{stt.status.statusName}}</td>
								<td ng-show="stt.note">Ghi chú: {{stt.note}}</td>
							</tr>
						</table>
						<table class="table">
							<tr>
								<th>Tên sản phẩm</th>
								<th>Hình ảnh</th>
								<th>Số lượng</th>
								<th>Đơn giá</th>
								<th>Thành tiền</th>
							</tr>
							<tbody>
								<tr ng:repeat="item in listOrderDetails">
									<td>{{item.product.name}}</td>
									<td><img alt="no picture"
										src="../img/{{item.product.image}}"></td>
									<td>{{item.quantity}}</td>
									<td>{{item.product.price |number : 0}}</td>
									<td>{{item.quantity*item.product.price|number :0}}</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="6">Tổng tiền:
										<h4>{{total() | number : 0}} VNĐ</h4>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
						<!-- <button type="button" class="btn btn-primary"></button>  -->
					</div>
				</div>
			</div>
		</div>
		<!--END MODAL-->
		<!--MODAL EDIT-->
		<div class="modal fade" id="edit" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Wait for
							confirmation</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">

						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Id</th>
										<th>Product</th>
										<th></th>
										<th>Price</th>
										<th>Quantity</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>01</td>
										<td>(anh.jpg )</td>
										<td>Hoa Hồng</td>
										<td>2</td>
										<td>30.000</td>

									</tr>
									<tr class="table-secondary ">
										<th colspan="4">Tổng:</th>
										<td colspan="1">10.000</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="noteStatus" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Hủy đơn</h5>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Lý do hủy đơn</label>
							<textarea ng-model="note" class="form-control" rows="10"
								cols="20"></textarea>
						</div>
						<br>
						<button class="btn btn-info" type="button"
							ng-click="cancelOrder(idOrderForCancel) ">Xác nhận</button>
					</div>
				</div>
			</div>
		</div>
	</div>
h	<!-- container-scroller -->
	<!-- base:js -->
	<script src="../_admin/vendors/js/vendor.bundle.base.js"></script>
	<!-- endinject -->
	<!-- inject:js -->
	<script src="../_admin/js/off-canvas.js"></script>
	<script src="../_admin/js/hoverable-collapse.js"></script>
	<script src="../_admin/js/template.js"></script>
	<script src="../_admin/js/settings.js"></script>
	<script src="../_admin/js/todolist.js"></script>
	<!-- endinject -->
	<!-- plugin js for this page -->
	<script src="../_admin/vendors/typeahead.js/typeahead.bundle.min.js"></script>
	<script src="../_admin/vendors/select2/select2.min.js"></script>
	<!-- End plugin js for this page -->
	<!-- Custom js for this page-->
	<script src="../_admin/js/file-upload.js"></script>
	<script src="../_admin/js/typeahead.js"></script>
	<script src="../_admin/js/select2.js"></script>
	<!-- End custom js for this page-->
	<script src="../_admin/js/tabs.js"></script>
	<!--AngurlarJS -->
	<script src="../js/app/app.js"></script>
	<script src="../js/service/orderService.js"></script>
	<script src="../js/controller/_adminOrder.js"></script>
	<script src="../js/service/toastService.js"></script>

</body>

</html>
