<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Form Account</title>
<!-- base:css -->
<link rel="stylesheet" href="	../_admin/vendors/typicons/typicons.css">
<link rel="stylesheet"
	href="../_admin/vendors/css/vendor.bundle.base.css">
<!-- endinject -->
<!-- plugin css for this page -->
<link rel="stylesheet" href="../_admin/vendors/select2/select2.min.css">
<link rel="stylesheet"
	href="../_admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet"
	href="../_admin/css/vertical-layout-light/style.css">
<link rel="stylesheet" href="../css/style.css">
<!-- endinject -->
<link rel="shortcut icon" href="../_admin/images/favicon.png" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>


</head>
<body ng-app="AdminAccApp" ng-controller="AdminAccCtrl">
	<div class="container-scroller">
		<!-- partial:../admin/partials/_navbar.html -->
		<nav th:replace="~{fragment/_adminHeader.html::adminHeader}"></nav>
		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<!-- partial:partials/_settings-panel.html -->
			<div class="theme-setting-wrapper">
				<div id="settings-trigger">
					<i class="typcn typcn-cog-outline"></i>
				</div>
				<div id="theme-settings" class="settings-panel">
					<i class="settings-close typcn typcn-times"></i>
					<p class="settings-heading">SIDEBAR SKINS</p>
					<div class="sidebar-bg-options selected" id="sidebar-light-theme">
						<div class="img-ss rounded-circle bg-light border mr-3"></div>
						Light
					</div>
					<div class="sidebar-bg-options" id="sidebar-dark-theme">
						<div class="img-ss rounded-circle bg-dark border mr-3"></div>
						Dark
					</div>
					<p class="settings-heading mt-2">HEADER SKINS</p>
					<div class="color-tiles mx-0 px-4">
						<div class="tiles success"></div>
						<div class="tiles warning"></div>
						<div class="tiles danger"></div>
						<div class="tiles info"></div>
						<div class="tiles dark"></div>
						<div class="tiles default"></div>
					</div>
				</div>
			</div>
			<div id="right-sidebar" class="settings-panel">
				<i class="settings-close typcn typcn-times"></i>
				<ul class="nav nav-tabs" id="setting-panel" role="tablist">
					<li class="nav-item"><a class="nav-link active" id="todo-tab"
						data-toggle="tab" href="#todo-section" role="tab"
						aria-controls="todo-section" aria-expanded="true">TO DO LIST</a></li>
					<li class="nav-item"><a class="nav-link" id="chats-tab"
						data-toggle="tab" href="#chats-section" role="tab"
						aria-controls="chats-section">CHATS</a></li>
				</ul>
				<div class="tab-content" id="setting-content">
					<div class="tab-pane fade show active scroll-wrapper"
						id="todo-section" role="tabpanel" aria-labelledby="todo-section">
						<div class="add-items d-flex px-3 mb-0">
							<form class="form w-100">
								<div class="form-group d-flex">
									<input type="text" class="form-control todo-list-input"
										placeholder="Add To-do">
									<button type="submit"
										class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
								</div>
							</form>
						</div>
						<div class="list-wrapper px-3">
							<ul class="d-flex flex-column-reverse todo-list">
								<li>
									<div class="form-check">
										<label class="form-check-label"> <input
											class="checkbox" type="checkbox"> Team review meeting
											at 3.00 PM
										</label>
									</div> <i class="remove typcn typcn-delete-outline"></i>
								</li>
								<li>
									<div class="form-check">
										<label class="form-check-label"> <input
											class="checkbox" type="checkbox"> Prepare for
											presentation
										</label>
									</div> <i class="remove typcn typcn-delete-outline"></i>
								</li>
								<li>
									<div class="form-check">
										<label class="form-check-label"> <input
											class="checkbox" type="checkbox"> Resolve all the low
											priority tickets due today
										</label>
									</div> <i class="remove typcn typcn-delete-outline"></i>
								</li>
								<li class="completed">
									<div class="form-check">
										<label class="form-check-label"> <input
											class="checkbox" type="checkbox" checked> Schedule
											meeting for next week
										</label>
									</div> <i class="remove typcn typcn-delete-outline"></i>
								</li>
								<li class="completed">
									<div class="form-check">
										<label class="form-check-label"> <input
											class="checkbox" type="checkbox" checked> Project
											review
										</label>
									</div> <i class="remove typcn typcn-delete-outline"></i>
								</li>
							</ul>
						</div>
						<div class="events py-4 border-bottom px-3">
							<div class="wrapper d-flex mb-2">
								<i class="typcn typcn-media-record-outline text-primary mr-2"></i>
								<span>Feb 11 2018</span>
							</div>
							<p class="mb-0 font-weight-thin text-gray">Creating component
								page</p>
							<p class="text-gray mb-0">build a js based app</p>
						</div>
						<div class="events pt-4 px-3">
							<div class="wrapper d-flex mb-2">
								<i class="typcn typcn-media-record-outline text-primary mr-2"></i>
								<span>Feb 7 2018</span>
							</div>
							<p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
							<p class="text-gray mb-0 ">Call Sarah Graves</p>
						</div>
					</div>
					<!-- To do section tab ends -->
					<div class="tab-pane fade" id="chats-section" role="tabpanel"
						aria-labelledby="chats-section">
						<div
							class="d-flex align-items-center justify-content-between border-bottom">
							<p
								class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
							<small
								class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See
								All</small>
						</div>
						<ul class="chat-list">
							<li class="list active">
								<div class="profile">
									<img src="../admin/images/faces/face1.jpg" alt="image"><span
										class="online"></span>
								</div>
								<div class="info">
									<p>Thomas Douglas</p>
									<p>Available</p>
								</div> <small class="text-muted my-auto">19 min</small>
							</li>
							<li class="list">
								<div class="profile">
									<img src="../admin/images/faces/face2.jpg" alt="image"><span
										class="offline"></span>
								</div>
								<div class="info">
									<div class="wrapper d-flex">
										<p>Catherine</p>
									</div>
									<p>Away</p>
								</div>
								<div class="badge badge-success badge-pill my-auto mx-2">4</div>
								<small class="text-muted my-auto">23 min</small>
							</li>
							<li class="list">
								<div class="profile">
									<img src="../admin/images/faces/face3.jpg" alt="image"><span
										class="online"></span>
								</div>
								<div class="info">
									<p>Daniel Russell</p>
									<p>Available</p>
								</div> <small class="text-muted my-auto">14 min</small>
							</li>
							<li class="list">
								<div class="profile">
									<img src="../admin/images/faces/face4.jpg" alt="image"><span
										class="offline"></span>
								</div>
								<div class="info">
									<p>James Richardson</p>
									<p>Away</p>
								</div> <small class="text-muted my-auto">2 min</small>
							</li>
							<li class="list">
								<div class="profile">
									<img src="../admin/images/faces/face5.jpg" alt="image"><span
										class="online"></span>
								</div>
								<div class="info">
									<p>Madeline Kennedy</p>
									<p>Available</p>
								</div> <small class="text-muted my-auto">5 min</small>
							</li>
							<li class="list">
								<div class="profile">
									<img src="../admin/images/faces/face6.jpg" alt="image"><span
										class="online"></span>
								</div>
								<div class="info">
									<p>Sarah Graves</p>
									<p>Available</p>
								</div> <small class="text-muted my-auto">47 min</small>
							</li>
						</ul>
					</div>
					<!-- chat tab ends -->
				</div>
			</div>
			<!-- partial -->
			<!-- partial:partials/_sidebar.html -->
			<nav th:replace="~{fragment/_adminAside.html::adminAside}"></nav>
			<!-- partial -->
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div class="col-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Quản lý tài khoản</h4>
									<form th:if="${session.user.role.id == 1}" class="forms-sample">
										<div class="form-group">
											<label for="email">Email</label> <input ng-show="!editMode"
												type="email" class="form-control" id="email"
												placeholder="Email" ng-model="form.email"> <input
												type="email" class="form-control" id="email"
												placeholder="Email" ng-model="form.email" ng-show="editMode"
												readonly="true">
										</div>
										<div class="form-group">
											<label for="name">Họ và tên</label> <input
												ng-model="form.fullName" type="text" class="form-control"
												id="name" placeholder="Fullname">
										</div>
										<div class="form-group">
											<label for="phone">Số điện thoại</label> <input
												ng-model="form.phoneNumber" type="text" class="form-control"
												id="phone" placeholder="Phonenumber">
										</div>
										<div class="form-group">
											<label for="Password">Mật khẩu</label> <input
												type="password" class="form-control" id="password"
												placeholder="Password" ng-model="form.password">
										</div>
										<div class="form-group">
											<label>Phân quyền</label> <select class="form-control"
												id="Id" ng-model="form.role.id">
												<option ng-repeat="role in roles" ng-value="{{role.id}}">{{role.roleName}}</option>

											</select>
										</div>
										<div class="form-group" style="display: none;">
											<input ng-model="form.locked" type="radio" ng-value="true"
												name="option1" id="locked">
										</div>
										<button type="button" class="btn btn-primary"
											ng-click="create()" ng-show="!editMode">Create</button>
										<button type="button" class="btn btn-primary"
											ng-show="editMode" ng-click="update()">Update</button>
										<button type="button" class="btn btn-secondary"
											ng-click="reset()">{{editMode ? 'Cancel' :
											'Reset'}}</button>
									</form>
								</div>
							</div>
						</div>

						<!--TABLE-->
						<div class="col-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="form-group">
										<div class="input-group">
											<input ng-model="searchKeyword" type="text"
												ng-keyup="searchCustomerByName()" class="form-control"
												placeholder="Nhập họ và tên"
												aria-label="Recipient's username">
											<div class="input-group-append"></div>
										</div>
									</div>
									<div class="table-responsive">
										<table class="table" th:if="${session.user.role.id == 1}">
											<thead>
												<tr>
													<th>Email</th>
													<th>Họ và tên</th>
													<th>Số điện thoại</th>
													<th>Quyền</th>
													<th>Chặn tài khoản</th>
													<th>Xác minh</th>

													<th th:insert="~{/fragment/_toast}"></th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="item in pager.items">
													<td>{{item.email}}</td>
													<td>{{item.fullName}}</td>
													<td>{{item.phoneNumber==''? 'Chưa có số điện thoại':item.phoneNumber}}</td>
													<td>{{item.role.roleName}}</td>
													<td class="text-center">
														<div ng-if="item.role.id!=1">
															<button ng:if="item.locked == false"
																ng-click="chan(item.email)"
																class="btn btn-inverse-success btn-rounded btn-icon">
																<i class="typcn typcn typcn-lock-open"></i>
															</button>
															<button ng-click="boChan(item.email)"
																ng:if="item.locked == true"
																class="btn btn-inverse-warning btn-rounded btn-icon">
																<i class='typcn typcn-lock-closed'></i>
															</button>
														</div>
													</td>
													<td ng-class="{'text-success':item.active}">{{item.active?
														'Đã xác minh' : 'Chưa xác minh'}}</td>
													<td>
														<button ng-if="item.role.id!=1" ng-click="edit(item.email)" type="button"
															class="btn btn-inverse-primary btn-rounded btn-icon">
															<i class=" typcn typcn-pen"></i>
														</button>
													</td>

												</tr>
											</tbody>
										</table>
										<!-- Table for STAFF -->
										<table th:if="${session.user.role.id == 3}" class="table">
											<thead>
												<tr>
													<th>Email</th>
													<th>Họ và tên</th>
													<th>Quyền</th>
													<th>Trạng thái</th>
													<th>Xác minh</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="item in pager.items">
													<td>{{item.email}}</td>
													<td>{{item.fullName}}</td>
													<td
														ng-class="{'text-info':item.role.id==3,'text-success':item.role.id==2,'text-warning':item.role.id==1}">{{item.role.roleName}}</td>
													<td ng-class="{'text-danger':item.locked}">{{item.locked?
														'Tạm thời khóa' :'Hoạt động'}}</td>
													<td ng-class="{'text-success':item.active}">{{item.active?
														'Đã xác minh' : 'Chưa xác minh'}}</td>
												</tr>
											</tbody>
										</table>
									</div>
									<nav aria-label="Page navigation example">
										<ul class="pagination  justify-content-center">
											<li class="page-item"><a class="page-link"
												ng-click="pager.prev()" aria-label="Previous"> <span
													aria-hidden="true">&laquo;</span>
											</a></li>
											<li class="page-item"><a class="page-link" href="#">{{pager.page
													+ 1}} of {{pager.count}}</a></li>
											<li class="page-item"><a class="page-link"
												ng-click="pager.next()" aria-label="Next"> <span
													aria-hidden="true">&raquo;</span>
											</a></li>
										</ul>
									</nav>
								</div>

							</div>


						</div>
						<!--END TABLE-->

					</div>
				</div>
				<!-- content-wrapper ends -->
				<!-- partial:partials/_footer.html -->

				<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<!-- base:js -->
	<script src="../_admin/vendors/js/vendor.bundle.base.js"></script>
	<!-- endinject -->
	<!-- inject:js -->
	<script src="../_admin/js/off-canvas.js"></script>
	<script src="../_admin/js/hoverable-collapse.js"></script>
	<script src="../_admin/js/template.js"></script>
	<script src="../_admin/js/settings.js"></script>
	<script src="../_admin/js/todolist.js"></script>
	<!-- endinject -->
	<!-- plugin js for this page -->
	<script src="../_admin/vendors/typeahead.js/typeahead.bundle.min.js"></script>
	<script src="../_admin/vendors/select2/select2.min.js"></script>
	<!-- End plugin js for this page -->
	<!-- Custom js for this page-->
	<script src="../_admin/js/file-upload.js"></script>
	<script src="../_admin/js/typeahead.js"></script>
	<script src="../_admin/js/select2.js"></script>
	<script th:src="@{/js/management/account.js}"></script>
	<script src="../js/service/toastService.js"></script>
	<!-- End custom js for this page-->
</body>

</html>
