<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Form Order</title>
<!-- base:css -->
<link rel="stylesheet" href="../_admin/vendors/typicons/typicons.css">
<link rel="stylesheet"
	href="../_admin/vendors/css/vendor.bundle.base.css">
<!-- endinject -->
<!-- plugin css for this page -->
<link rel="stylesheet" href="../_admin/vendors/select2/select2.min.css">
<link rel="stylesheet"
	href="../_admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
<!-- End plugin css for this page -->
<!-- inject:css -->

<link rel="stylesheet"
	href="../_admin/css/vertical-layout-light/style.css">
<!-- endinject -->
<link rel="shortcut icon" href="../_admin/images/favicon.png" />
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<link rel="stylesheet" href="../assets/css/fontawesome.min.css" />

<!-- Toast css -->
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
<!-- Chart -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body ng-app="reportProductApp" ng-controller="reportCtrl">
	<div class="container-scroller">
		<nav th:replace="~{fragment/_adminHeader.html::adminHeader}"></nav>
		<!-- partial -->
		<div th:replace="~{fragment/_adminPartial.html::partial}"></div>
		<!-- partial -->
		<nav th:replace="~{fragment/_adminAside.html::adminAside}"></nav>
		<!-- partial:../_admin/partials/_sidebar.html -->

		<!-- Toast -->
		<ul th:insert="~{fragment/_toast}"></ul>
		<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-3">
            <select ng-model="month" ng-change="getDoanhthuSanPham()" class="form-control">
                <option ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12]" ng-value="i" ng-selected="i === month">{{i}}</option>
            </select>
        </div>
        <div class="col-12 col-md-3">
            <select class="form-control ml-md-2 mt-2 mt-md-0" ng-model="year" ng-change="getDoanhthuSanPham()">
                <option ng-value="item" ng-repeat="item in listYear" ng-selected="item === year">{{item}}</option>
            </select>
        </div>
        <div class="col-12 mt-3">
            <canvas id="income-chart"></canvas>
        </div>
    </div>
</div>



	</div>

	<!-- container-scroller -->
	<!-- base:js -->
	<script src="../_admin/vendors/js/vendor.bundle.base.js"></script>
	<!-- endinject -->
	<!-- inject:js -->
	<script src="../_admin/js/off-canvas.js"></script>
	<script src="../_admin/js/hoverable-collapse.js"></script>
	<script src="../_admin/js/template.js"></script>
	<script src="../_admin/js/settings.js"></script>
	<script src="../_admin/js/todolist.js"></script>
	<!-- endinject -->
	<!-- plugin js for this page -->
	<script src="../_admin/vendors/typeahead.js/typeahead.bundle.min.js"></script>
	<script src="../_admin/vendors/select2/select2.min.js"></script>
	<!-- End plugin js for this page -->
	<!-- Custom js for this page-->
	<script src="../_admin/js/file-upload.js"></script>
	<script src="../_admin/js/typeahead.js"></script>
	<script src="../_admin/js/select2.js"></script>
	<!-- End custom js for this page-->
	<script src="../_admin/js/tabs.js"></script>
	<!--AngurlarJS -->
	<script src="../js/app/app.js"></script>
	<script src="../js/service/orderService.js"></script>
	<script src="../js/controller/productReport.js"></script>
	<script src="../js/service/toastService.js"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
</body>

</html>
