<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Zay Shop - Product Detail Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" href="assets/img/apple-icon.png">
<link rel="shortcut icon" type="image/x-icon"
	href="assets/img/favicon.ico">

<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/templatemo.css">
<link rel="stylesheet" href="assets/css/custom.css">

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
<!-- Load fonts style after rendering the layout styles -->

<!-- Load fonts style after rendering the layout styles -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
<link rel="stylesheet" href="assets/css/fontawesome.min.css">

<!-- Slick -->
<link rel="stylesheet" type="text/css" href="assets/css/slick.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/slick-theme.css">


<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<!--
    
TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
</head>

<body ng-app="myApp">
    <!-- Start Top Nav -->
    <nav th:insert="~{fragment/_nav.html::nav}"></nav>
    <!-- Close Top Nav -->
     <!-- Header -->
    <nav th:insert="~{fragment/_header.html::header}"></nav>
    <!-- Close Header -->

	<!-- Modal -->
	<div class="modal fade bg-white" id="templatemo_search" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="w-100 pt-1 mb-5 text-right">
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<form action="" method="get"
				class="modal-content modal-body border-0 p-0">
				<div class="input-group mb-2">
					<input type="text" class="form-control" id="inputModalSearch"
						name="q" placeholder="Search ...">
					<button type="submit"
						class="input-group-text bg-success text-light">
						<i class="fa fa-fw fa-search text-white"></i>
					</button>
				</div>
			</form>
		</div>
	</div>



	<!-- Open Content -->
	<section ng-controller="CartCtrl">
		<div class="container p-5">
			<div class="d-flex justify-content-center row w-100">
				<div class="col-md-8">
					<div class="p-2">
						<h4>Giỏ Hàng</h4>

					</div>
					<div ng-repeat="product in carts"
						class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded ">
						<div class="mr-1">
							<img class="rounded" src="/img/{{product.image}}" width="70">
						</div>
						<div class="d-flex flex-column align-items-center product-details">
							<span class="font-weight-bold">{{product.name}}</span>
						</div>
						<div class="d-flex flex-row align-items-center qty">
							<i class="fa fa-minus text-danger btn"></i>
							<h5 class="text-grey mt-1 mr-1 ml-1 btn">{{product.quantity}}</h5>
							<i class="fa fa-plus text-success btn"></i>
						</div>
						<div>
							<h5 class="text-grey">
								{{product.price}} <span>VND</span>
							</h5>
						</div>
						<div>
							<h5 class="text-grey">
								{{product.price * product.quantity}} <span>VND</span>
							</h5>
						</div>
						<div class="d-flex align-items-center">
							<i class="fa fa-trash mb-1 text-danger"></i>
						</div>
					</div>
					<!--  <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded"><input type="text"
                            class="form-control border-0 gift-card" placeholder="Mã giảm giá"><button
                            class="btn btn-outline-warning btn-sm ml-2" type="button">Áp Dụng</button></div> -->
					<div
						class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded">
						<a href="checkout.html"
							class="btn btn-warning btn-block btn-lg ml-2 pay-button"
							type="button">Tiến hành thanh toán</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Close Content -->


	<!-- Start Footer -->
   	<footer th:insert="~{/fragment/_footer}"></footer>
    <!-- End Footer -->

	<!-- Start Script -->
	<script src="assets/js/jquery-1.11.0.min.js"></script>
	<script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<script src="assets/js/templatemo.js"></script>
	<script src="assets/js/custom.js"></script>
	<!-- End Script -->

	<!-- Start Slider Script -->
	<script src="assets/js/slick.min.js"></script>
	<script src="/js/app/app.js"></script>
	<script src="/js/service/cartService.js"></script>
	<script src="/js/service/toastService.js"></script>
	<script src="/js/controller/cartController.js"></script>

</body>

</html>