<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Daisy Shop - Cart</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" href="assets/img/apple-icon.png">
<link rel="shortcut icon" href="_admin/images/favicon.png" />


<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
<link rel="stylesheet" href="../assets/css/templatemo.css">
<link rel="stylesheet" href="../assets/css/custom.css">

<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
<!-- Load fonts style after rendering the layout styles -->

<!-- Load fonts style after rendering the layout styles -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
<link rel="stylesheet" href="../assets/css/fontawesome.min.css">

<!-- Slick -->
<link rel="stylesheet" type="text/css"
	href="../assets/css/slick.min.css">
<link rel="stylesheet" type="text/css"
	href="../assets/css/slick-theme.css">


<!-- ANGULAR -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<!--
    
TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
</head>

<body ng-app="myApp">
	<!-- Start Top Nav -->
	<nav th:insert="~{fragment/_nav.html::nav}"></nav>
	<!-- Close Top Nav -->
	<!-- Header -->
	<nav th:insert="~{fragment/_header.html::header}"></nav>
	<!-- Close Header -->

	<!-- Open Content -->
	<section ng-controller="CartCtrl">
		<!-- TOAST -->
		<ul th:insert="~{/fragment/_toast}"></ul>
		<!-- END TOAST -->
		<div class="container p-5">
			<div class="d-flex justify-content-center row w-100">
				<div class="">
					<div class="p-2">
						<h4>Giỏ Hàng</h4>
					</div>
					<table class="table table-bordered mt-4">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Hình Ảnh</th>
								<th scope="col">Tên Sản Phẩm</th>
								<th scope="col">Số Lượng</th>
								<th scope="col">Giá (VNĐ)</th>
								<th scope="col">Tổng Tiền (VNĐ)</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="sp in carts"
								ng-class="{ 'text-decoration-line-through': !sp.isAvailable }">
								<td><input ng-hide="!sp.isAvailable" class="btn btn-success" type="checkbox"
									ng-model="sp.selected" ng-click="select(sp)"> <span
									ng-show="!sp.isAvailable"><i
										class="fa fa-cancel mb-1 text-danger"></i></span></td>
								<td><img class="rounded" src="../img/{{sp.image}}"
									width="100"></td>
								<td>{{sp.name}}</td>
								<td>
									<div class="d-flex flex-row align-items-center qty">
										<i class="fa fa-minus text-danger btn"
											ng-click="reduceProduct(sp)"></i>
										<h4 class="text-grey mt-1 mr-1 ml-1 btn">{{sp.quant}}</h4>
										<i class="fa fa-plus text-success btn"
											ng-click="increaseProduct(sp)"></i>
									</div> <br>
									<h6 class="text-muted">
										Số lượng còn lại: <span>{{sp.quantity}}</span>
									</h6>
								</td>
								<td>
									<h5 class="text-grey">{{sp.price | number : 0}} </h5>
								</td>
								<td>
									<h5 class="text-grey">{{sp.price * sp.quant | number : 0}}
										</h5>
								</td>
								<td><i class="fa fa-trash mb-1 text-danger btn"
									ng-click="remove(sp)"></i></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th colspan="7">Tổng tiền: {{total | number:0}} VNĐ</th>
							</tr>
						</tfoot>
					</table>
					<!--  <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded"><input type="text"
                    class="form-control border-0 gift-card" placeholder="Mã giảm giá"><button
                    class="btn btn-outline-warning btn-sm ml-2" type="button">Áp Dụng</button></div> -->
					<div
						class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded">
						<a ng-click="checkCartSelect()"
							class="btn btn-warning btn-block btn-lg ml-2 pay-button"
							type="button">Tiến hành đặt hàng</a> <a
							class="btn btn-info btn-block btn-lg ml-2 pay-button"
							type="button" ng-click="clearCart()" style="margin-left: 20px">Xóa
							tất cả</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Close Content -->


	<!-- Start Footer -->
	<footer th:insert="~{/fragment/_footer}"></footer>
	<!-- End Footer -->

	<!-- Start Script -->
	<script src="../assets/js/jquery-1.11.0.min.js"></script>
	<script src="../assets/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="../assets/js/bootstrap.bundle.min.js"></script>
	<script src="../assets/js/templatemo.js"></script>
	<script src="../assets/js/custom.js"></script>
	<!-- End Script -->

	<!-- Start Slider Script -->
	<script src="../assets/js/slick.min.js"></script>
	<script src="../js/app/app.js"></script>
	<script src="../js/service/cartService.js"></script>
	<script src="../js/service/productService.js"></script>
	<script src="../js/service/toastService.js"></script>
	<script src="../js/controller/cartController.js"></script>

</body>

</html>