<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Daisy Shop - Checkout</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" href="../assets/img/apple-icon.png">
<link rel="shortcut icon" href="../_admin/images/favicon.png" />


<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
<link rel="stylesheet" href="../assets/css/templatemo.css">
<link rel="stylesheet" href="../assets/css/custom.css">
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
<!-- Load fonts style after rendering the layout styles -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
<link rel="stylesheet" href="../assets/css/fontawesome.min.css">

<!-- Slick -->
<link rel="stylesheet" type="text/css"
	href="../assets/css/slick.min.css">
<link rel="stylesheet" type="text/css"
	href="../assets/css/slick-theme.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<!--
    
TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
</head>

<body ng-app="myApp" ng-controller="CheckoutCtrl">
	<!-- Start Top Nav -->
	<nav th:insert="~{fragment/_nav.html::nav}"></nav>
	<!-- Close Top Nav -->
	<!-- Header -->
	<nav th:insert="~{fragment/_header.html::header}"></nav>
	<!-- Close Header -->
	<!-- TOAST -->
	<ul th:insert="~{/fragment/_toast}"></ul>
	<!-- END TOAST -->
	<!-- Open Content -->
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-6 order-md-2 mb-4">
				<ul class="list-group mb-3">
					<li ng-repeat="product in orders"
						class="list-group-item d-flex justify-content-between lh-condensed">
						<div class="d-flex">
							<img class="" src="../img/{{product.image}}" width="70"
								style="margin-right: 15px">
							<div>
								<h6 class="my-0">{{product.name}}</h6>
								<small>SL: {{product.quant}}</small>
							</div>

						</div> <span>{{product.price*product.quant|number:0}}</span>
					</li>
				</ul>



			</div>
			<div class="col-md-6 order-md-1">
				<h4 class="mb-3">Thông tin hoá đơn</h4>
				<form class="needs-validation" novalidate>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="firstName">Họ và tên người nhận</label> <input type="text"
								class="form-control" id="fullName" placeholder="" required>
						</div>
						<div class="col-md-6 mb-3">
							<label for="lastName">Số điện thoại</label> <input type="text"
								class="form-control" id="phoneNumber" placeholder="" required>
						</div>
						<div class="col-md-12 mb-3">
							<label for="note">Nội dung thông điệp</label> 
								<textarea id="orderNote" class="form-control" rows="5" cols="20"></textarea>
						</div>
					</div>

					<div class="mb-3">
						<label for="address">Ngày lấy hoa</label> <input
							type="datetime-local" class="form-control" id="datePickUp">
					</div>
				</form>
				<div class="card">
					<div
						class="list-group-item d-flex justify-content-between lh-condensed p-3">
						<div>
							<h6 class="my-0">
								<b style="color: chocolate;">Tổng Thanh Toán :</b>
							</h6>
						</div>
						<span class="text-muted"><b style="color: chocolate;">{{totalOrder|number:0}}
								VND</b> </span>
					</div>
					<div class="list-group-item d-flex lh-condensed p-3 mt-3">
						<div class="form-check" style="margin-right: 20px">
							<input class="form-check-input" type="radio"
								value="Khi nhận hàng" ng-model="methodPayment"
								name="flexRadioDefault" id="flexRadioDefault1"> <label
								class="form-check-label" for="flexRadioDefault1"> Khi
								nhận hàng </label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" value="Chuyển khoản"
								ng-model="methodPayment" name="flexRadioDefault"
								id="flexRadioDefault2" checked> <label
								class="form-check-label" for="flexRadioDefault2"> Chuyển
								khoản </label>
						</div>
					</div>


				</div>

				<button ng-if="totalOrder>0"
					class="btn btn-warning text-white btn-lg btn-block w-100 mt-3"
					type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">Đặt
					hàng</button>
			</div>
		</div>
	</div>
	<!-- Close Content -->
	<!-- Start Footer -->
	<footer th:insert="~{/fragment/_footer}" style="margin-top: 30px"></footer>
	<!-- End Footer -->

	<!-- Start Script -->
	<script src="../assets/js/jquery-1.11.0.min.js"></script>
	<script src="../assets/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="../assets/js/bootstrap.bundle.min.js"></script>
	<script src="../assets/js/templatemo.js"></script>
	<script src="../assets/js/custom.js"></script>
	<!-- End Script -->

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
	<script src="../js/app/app.js"></script>
	<script src="../js/service/checkoutService.js"></script>
	<script src="../js/service/toastService.js"></script>
	<script src="../js/service/customerService.js"></script>
	<script src="../js/controller/checkoutController.js"></script>

	<!-- Start Slider Script -->
	<script src="../assets/js/slick.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Thông Báo</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">Bạn có muốn đặt hàng không???</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Đóng</button>
					<a class="btn btn-primary" ng-click="checkout(totalOrder)">Đặt
						hàng</a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>