<!DOCTYPE html>
<html lang="en">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Daisy register</title>
<!-- base:css -->
<link rel="stylesheet" href="../_admin/vendors/typicons/typicons.css">
<link rel="stylesheet"
	href="../_admin/vendors/css/vendor.bundle.base.css">
<link rel="stylesheet"
	href="../_admin/vendors/mdi/css/materialdesignicons.min.css" />
<!-- endinject -->
<!-- plugin css for this page -->
<!-- End plugin css for this page -->
<!-- inject:css -->

<link rel="stylesheet"
	href="../_admin/css/vertical-layout-light/style.css">
<!-- endinject -->

<link rel="shortcut icon" href="../_admin/images/favicon.png" />

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
<link rel="stylesheet" href="../css/style.css">

</head>

<body ng-app="myApp">
	<div class="container-scroller" ng-controller="registerCtrl">
		<div ng-show="isLoading" class="circle-loader"
			style="z-index: 9999; position: fixed; top: 100px; left: 600px; background: rgba(255, 255, 255, 0.7); display: flex;"></div>
		<ul th:insert="~{/fragment/_toast}"></ul>
		<div class="container-fluid page-body-wrapper full-page-wrapper">
			<div class="content-wrapper d-flex align-items-center auth px-0">
				<div class="row w-100 mx-9">
					<div class="col-lg-5 mx-auto">
						<div class="auth-form-light text-left py-5 px-4 px-sm-5">
							<div class="brand-logo">
								<img src="../_admin/images/logodaisy1.png" alt="logo">
							</div>
							<h4>Tạo tài khoản mới</h4>
							<h6 class="font-weight-light">Đăng ký rất dễ dàng. Chỉ mất
								vài bước</h6>
							<form class="pt-3">

								<div class="form-group">
									<input type="email" class="form-control form-control-lg"
										id="exampleInputEmail1" ng-model="account.email"
										placeholder="Email">
								</div>
								<div class="form-group">
									<input type="text" class="form-control form-control-lg"
										id="exampleInputEmail1" ng-model="account.fullName"
										placeholder="Họ và tên">
								</div>

								<div class="input-group">
									<input type="password" class="form-control form-control-lg"
										ng-model="account.password" placeholder="Mật khẩu">

								</div>

								<div class="mt-3">
									<button type="submit" ng-click="register()"
										class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">SIGN
										UP</button>
								</div>
								<div class="text-center mt-4 font-weight-light">
									Bạn đã có tài khoản? <a href="/auth/login" class="text-primary">Đăng
										nhập</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- content-wrapper ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>


	<!-- container-scroller -->
	<!-- base:js -->
	<script src="../_admin/vendors/js/vendor.bundle.base.js"></script>
	<!-- endinject -->
	<!-- inject:js -->
	<script src="../_admin/js/off-canvas.js"></script>
	<script src="../_admin/js/hoverable-collapse.js"></script>
	<script src="../_admin/js/template.js"></script>
	<script src="../_admin/js/settings.js"></script>
	<script src="../_admin/js/todolist.js"></script>
	<!-- endinject -->
	<script src="../js/app/app.js"></script>
	<script src="../js/controller/registerController.js"></script>
	<script src="../js/service/toastService.js"></script>

	<!-- <script src="../js/service/registerService.js"></script> -->
</body>

</html>
