<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Zay Shop - Product Detail Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" href="../assets/img/apple-icon.png">
<link rel="shortcut icon" type="image/x-icon"
	href="../assets/img/favicon.ico">

<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
<link rel="stylesheet" href="../assets/css/templatemo.css">
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
<!-- Load fonts style after rendering the layout styles -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
<link rel="stylesheet" href="../assets/css/fontawesome.min.css">

<!-- Slick -->
<link rel="stylesheet" type="text/css"
	href="../assets/css/slick.min.css">
<link rel="stylesheet" type="text/css"
	href="../assets/css/slick-theme.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<!--
    
TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
</head>

<body ng-app="myApp" ng-controller="productDetailsCtrl">
	<!-- Start Top Nav -->
	<nav th:insert="~{fragment/_nav.html::nav}"></nav>
	<!-- Close Top Nav -->
	<!-- Header -->
	<nav th:insert="~{fragment/_header.html::header}"></nav>
	<!-- Close Header -->

	<!-- Buy now -->
	<div class="modal fade" id="buyNow" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Đặt hàng ngay</h5>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>Chọn số lượng sản phẩm</label> <input ng-model="quant" type="number"
							class="form-control" min="1" max="{{product.quantity}}">
							<label class="text-primary">Số lượng còn lại: {{product.quantity}}</lable>
					</div>
					<br>
					<button class="btn btn-info" ng-click="buyNow(product)">Xác
						nhận</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Open Content -->
	<section class="bg-light">
		<!-- TOAST -->
		<ul th:insert="~{/fragment/_toast}"></ul>
		<!-- END TOAST -->
		<div class="container pb-5">
			<div class="row">
				<div class="col-lg-5 mt-5">
					<img src="../img/{{product.image}}" width="475px" alt="No image"
						id="product-detail">
				</div>
				<div class="col-lg-7 mt-5">
					<div class="card">
						<div class="card-body">
							<h1 class="h2 text-danger">{{product.name}}</h1>
							<p class="h3 py-2">
								{{product.price | number : 0}} <span>VNĐ</span>
							</p>

							<ul class="list-inline">
								<li class="list-inline-item">
									<h6>Loại sản phẩm:</h6>
								</li>
								<li class="list-inline-item">
									<p class="text-muted">
										<strong>{{product.category.name}}</strong>
									</p>
								</li>
							</ul>

							<form action="" method="GET">
								<input type="hidden" name="product-title" value="Activewear">
								<div class="row">
									<div class="col-auto">
										<ul class="list-inline pb-3">
											<li class="list-inline-item">Số lượng còn lại :</li>
											<li class="list-inline-item"><span
												class="btn btn-success btn-size">{{product.quantity
													>=1 ? product.quantity : 'Tạm hết hàng'}}</span></li>

										</ul>
									</div>
								</div>
							</form>

							<form action="" method="GET">
								<input type="hidden" name="product-title" value="Activewear">
								<div class="row">
									<div class="col-auto">
										<ul class="list-inline pb-3">
											<li class="list-inline-item text-right">Mô tả :
												<p>{{product.description}}</p>
											</li>
										</ul>
									</div>
								</div>
								<div ng-if="product.quantity>=1" class="row pb-3">
									<div class="col d-grid">
										<a class="btn btn-success btn-lg" data-bs-toggle="modal"
											data-bs-target="#buyNow">Mua</a>
									</div>
									<div class="col d-grid">
										<a ng-click="addToCart(product)"
											class="btn btn-success btn-lg">Thêm vào giỏ hàng</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Close Content -->

	<!-- Start Article -->
	<section class="py-5">
		<div class="container">
			<div class="row text-left p-2 pb-3">
				<h4>Có thể bạn sẽ thích</h4>
			</div>
			<div class="row">
				<div ng-repeat="p in listProduct"
					class="col-md-3 panel panel-default">
					<img alt="not found" src="/img/{{p.image}}"
						ng-click="productDetails(p.id)" width="150px">
					<h4>{{p.name}}</h4>
					<h5>{{p.price}}</h5>
				</div>
			</div>
		</div>
	</section>
	<!-- End Article -->

	<!-- Start Footer -->
	<footer th:insert="~{/fragment/_footer}"></footer>
	<!-- End Footer -->

	<!-- Start Script -->
	<script src="../assets/js/jquery-1.11.0.min.js"></script>
	<script src="../assets/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="../assets/js/bootstrap.bundle.min.js"></script>
	<script src="../assets/js/templatemo.js"></script>
	<script src="../assets/js/custom.js"></script>
	<!-- End Script -->
	<!--AngurlarJS -->
	<script src="../js/app/app.js"></script>
	<script src="../js/service/productService.js"></script>
	<script src="../js/service/cartService.js"></script>
	<script src="../js/controller/productDetails.js"></script>
	<script src="../js/service/toastService.js"></script>
	<!-- Start Slider Script -->
	<script src="assets/js/slick.min.js"></script>

	<!-- End Slider Script -->

</body>

</html>